<app-loading *ngIf="showLoading"></app-loading>
<app-game (backToMenu)="onBackToMenu()" [singlePlayer]="false" [token]="token" *ngIf="showMultiPlayer"></app-game>
<app-game (backToMenu)="onBackToMenu()" [singlePlayer]="true" [token]="token" *ngIf="showSinglePlayer"></app-game>
<app-leaderboard (backToMenu)="onBackToMenu()" [token]="token" *ngIf="showLeaderBoard"></app-leaderboard>
<ul style="text-align:center" *ngIf="!showLeaderBoard && !showMultiPlayer && !showLoading && !showSinglePlayer">
  <li style="text-align:center" class="data-container">
    <button (click)="singlePlayer()">
      single player
    </button>
    <button (click)="multiPlayer()">
      multi player
    </button>
  <button (click)="scores()">
    scores
  </button>

    <select class="custom-select" (change)="changeLanguage($event.target.value)">
      <option *ngFor="let language of possibleLanguages"
              value="{{language}}">{{language}}</option>
    </select>
  <button (click)="logOut()">
    logout
  </button>
  </li>
</ul>
