<ul style="text-align:center">
  <li style="text-align:center" class="data-container">
    <input type="text" placeholder="name"
           class="small-input"
           [ngClass]="{'failed': logInFailed}"
           #labelerName>
    <input type="password" placeholder="password"
           class="small-input"
           [ngClass]="{'failed': logInFailed}"
           #inputPassword>
    <button (click)="tryLogIn(labelerName.value, inputPassword.value)">
      log in
    </button>
    <button (click)="changeToRegistering()">
      register
    </button>
  </li>
</ul>
